@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background: #000;
    font-family: "Nunito", "Oswald";
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(https://static.vecteezy.com/ti/fotos-gratis/p2/6235973-retro-sci-fi-fundo-futurista-grid-paisagem-dos-anos-80-gratis-foto.jpg);
    background-attachment: fixed;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
}
.movies {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(5%, 0%);
}

.movies li {
    max-width: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    background: #272727;
}

.movies li img {
    max-width: 300px;
    border-radius: 12px;
    cursor: pointer;
}

.movies li h2 {
    color: #fff;
    font-size: 1.8em;
    padding: 15px 10px 0;
    margin-top: auto;
    margin-bottom: 5px;
    font-family: "Oswald", sans-serif;
}




.search-bar {
    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
}

.player {
    margin-top: 35px;
}



footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: white; /* Cor branca das letras */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    font-size: 16px;
}

footer a {
    color: white; /* Mantém a cor do link como branca */
    text-decoration: none; /* Remove o sublinhado padrão do link */
}

footer a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre o link */
}
